doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/player.css')
    link(href="http://vjs.zencdn.net/4.12/video-js.css", rel="stylesheet")
    script(src="http://vjs.zencdn.net/4.12/video.js")
    script(src="/viblast.js")
  body 
    video(id="viblastvid1", data-viblast-key="N2FjNTQ3NDdhZmZhNGI5NWU5ZTI=", controls="1", width="400", height="250", src="//cdn3.viblast.com/streams/hls/airshow/playlist.m3u8", poster="/images/eyevinn-logo-square.png")
    p Support saknas
